<%- include("partials/header"); -%>

<section class="white-space" id="body-section">

  <div class="container_home">

<div class="container-body containeratcontact">
  <h1>HELLO, </h1>
  <h1>if you want to contact me then</h1>
  <br>
  <h1>Mail me at :- 20BCS064@iiitdmj.ac.in</h1>
  <br>
  <p>OR</p>
  <br>
  <h1>Call me at :- +91-9537468563</h1>
</div>
  </div>
</section>

<%- include("partials/footer"); -%>
