<%- include("partials/header"); -%>

<section class="white-space" id="body-section">

  <div class="container_home">

  <form action="/" method="post" class="form">
    <div class="input-group">
    <input type="text" class="form-control" placeholder="Enter your city name " name="cityName" required autofocus>
    <div class="input-group-btn">
      <button type="submit" class="btn go btn-lg btn-outline-success" name="button">Go</button>
    </div>
  </div>
  </form>
<div class="container-body containerathome">
  <h1>HELLO,</h1>
  <br>
  <h1>WELCOME TO THE FULLTIME WEATHER REPORT !!!</h1>
  <br>
  <p>here you can see weather update for next 5 days just enter your city name up and get started.</p>
</div>
  </div>
</section>

<%- include("partials/footer"); -%>
